extends base
block content
    main.main
        section.h-100.gradient-custom
            .container.py-5
                .row.d-flex.justify-content-center.my-4
                    .col-md-8
                        .card.mb-4
                            .card-header.py-3
                                h5.mb-0 Cart items
                            .card-body
                                // Single item
                                each item in data
                                    .row
                                        .col-lg-3.col-md-12.mb-4.mb-lg-0
                                            // Image
                                            .bg-image.hover-overlay.hover-zoom.ripple.rounded(data-mdb-ripple-color='light')
                                                img.w-100(src=`${item.meal_photo}`, alt='Blue Jeans Jacket')
                                                a(href='#!')
                                                    .mask(style='background-color: rgba(251, 251, 251, 0.2)')
                                            // Image
                                        .col-lg-5.col-md-6.mb-4.mb-lg-0
                                            // Data
                                            p
                                                strong= `${item.name}`
                                            p Color: blue
                                            p Size: M

                                            // Data
                                        .col-lg-4.col-md-6.mb-4.mb-lg-0
                                            // Quantity
                                            .d-flex.mb-4(style='max-width: 300px')

                                                .form-outline
                                                    input#form1.form-control(min='0', name='quantity', value=item.quantity, type='number')
                                                    label.form-label(for='form1') Quantity

                                            // Quantity
                                            // Price
                                            p.text-start.text-md-center
                                                strong= ` Price : ${item.price}*${item.quantity}`
                                    hr.my-4
                                // Single item
                                //- .row
                                //-     .col-lg-3.col-md-12.mb-4.mb-lg-0
                                //-         // Image
                                //-         .bg-image.hover-overlay.hover-zoom.ripple.rounded(data-mdb-ripple-color='light')
                                //-             img.w-100(src='https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Vertical/13a.webp')
                                //-             a(href='#!')
                                //-                 .mask(style='background-color: rgba(251, 251, 251, 0.2)')
                                //-         // Image
                                //-     .col-lg-5.col-md-6.mb-4.mb-lg-0
                                //-         // Data
                                //-         p
                                //-             strong Red hoodie
                                //-         p Color: red
                                //-         p Size: M
                                //-         button.btn.btn-primary.btn-sm.me-1.mb-2(type='button', data-mdb-toggle='tooltip', title='Remove item')
                                //-             i.fas.fa-trash
                                //-         button.btn.btn-danger.btn-sm.mb-2(type='button', data-mdb-toggle='tooltip', title='Move to the wish list')
                                //-             i.fas.fa-heart
                                //-         // Data
                                //-     .col-lg-4.col-md-6.mb-4.mb-lg-0
                                //-         // Quantity
                                //-         .d-flex.mb-4(style='max-width: 300px')
                                //-             button.btn.btn-primary.px-3.me-2(onclick="this.parentNode.querySelector('input[type=number]').stepDown()")
                                //-                 i.fas.fa-minus
                                //-             .form-outline
                                //-                 input#form1.form-control(min='0', name='quantity', value='1', type='number')
                                //-                 label.form-label(for='form1') Quantity
                                //-             button.btn.btn-primary.px-3.ms-2(onclick="this.parentNode.querySelector('input[type=number]').stepUp()")
                                //-                 i.fas.fa-plus
                                //-         // Quantity
                                //-         // Price
                                //-         p.text-start.text-md-center
                                //-             strong $17.99  
                        .card.mb-4
                            .card-body
                                p
                                    strong Expected shipping delivery
                                p.mb-0 12.10.2020 - 14.10.2020
                        .card.mb-4.mb-lg-0
                            .card-body
                                p
                                    strong We accept
                                img.me-2(width='45px', src='https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg', alt='Visa')
                                img.me-2(width='45px', src='https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg', alt='American Express')
                                img.me-2(width='45px', src='https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg', alt='Mastercard')
                                //- img.me-2(width='45px', src='https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce/includes/gateways/paypal/assets/images/paypal.webp', alt='PayPal acceptance mark')
                    .col-md-4
                        .card.mb-4
                            .card-header.py-3
                                h5.mb-0 Summary
                            .card-body
                                ul.list-group.list-group-flush
                                    li.list-group-item.d-flex.justify-content-between.align-items-center.border-0.px-0.pb-0
                                        | Products
                                        span= `₹ ${finalPrice}`
                                    li.list-group-item.d-flex.justify-content-between.align-items-center.px-0
                                        | Taxes(CGST & IGST)
                                        span= `₹ 30.00`
                                    li.list-group-item.d-flex.justify-content-between.align-items-center.border-0.px-0.mb-3
                                        div
                                            strong Total amount
                                            strong
                                                p.mb-0 (including taxes)
                                        span
                                            strong= `₹ ${finalPrice+30.00}`
                                button.btn.btn--green.span-all-rows#book-food(data-food-id=`12511155`) Book food now!        
    //- script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js')
    //- script(src='/js/mapbox.js')
    //- script(src='/js/index.js')
    //- script(src='/js/bundle.js')
    //- script(src='https://js.stripe.com/v3')




