extends base

mixin navItem(link,text,icon,active)
    li(class=`${active?'side-nav--active':''}`)
        a(href=link)
            svg
                use(xlink:href=`img/icons.svg#icon-${icon}`)
            | #{text}
block content
    link(rel='stylesheet', href='/css/stylish.css')
    //- link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/style1.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css')
    // jQuery library
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js')
    // Latest compiled JavaScript
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js')

    main.main
        .user-view
            nav.user-view__menu
                ul.side-nav
                    +navItem('/me-rest','Settings','settings')
                    +navItem('/my-orders-rest','My bookings','briefcase',true)
                    +navItem('signup2-menu','Make Your Menu','star')
                    +navItem('/manageMenu','Update Your Menu','star')
                    +navItem('/getQr','Get you QR code','credit-card')

            .user-view__content
                h2.heading-secondary.ma-bt-md(style="margin-top: 0;") Your previous orders
                -  function editItem(s) { s==true};
                    .card-container
                        each item,id in data
                            .card(style="flex-direction: column;justify-content: space-evenly;height: 275px;")
                                .card-header.no-border(style="justify-content: center;padding: 15px;")
                                    h5.card-title(style="font-size: 20px;color: #ff4802")= `${item.name}`

                                .card-body
                                    .widget-49
                                        .widget-49-title-wrapper
                                            .widget-49-date-primary
                                                span.widget-49-date-day 03
                                                span.widget-49-date-month dec
                                            .widget-49-meeting-info
                                                span.widget-49-pro-title= `TOKEN: ${result[id]._id}`
                                                span.widget-49-meeting-time 12:00 to 13.30 Hrs
                                        ol.widget-49-meeting-points
                                            li.widget-49-meeting-item
                                                span= `${item.email}`
                                            li.widget-49-meeting-item
                                                span= `PHONE: ${item.phone}`
                                        .widget-49-meeting-action(style="display: flex;flex-direction: row;justify-content: space-evenly;margin-top: 25px;align-items: center;")
                                            - if(result[id].delivered==true)
                                                img.img-tick(src="https://tse3.mm.bing.net/th?id=OIP.GxSdgZx4VkM4ZHcxx6JwrwHaGb&pid=Api&P=0")
                                            - else 
                                                input.btn.btn-primary#addTick(type='button' value='Delivered ?' data-food-id=`${result[id]._id},${restId}` style="margin-top: 0;height: 52px;width: 131px;border-radius: 28px;background: #ff4802;color: white;font-size: 1.5rem;")
                                            a.btn.btn--green.btn--small(href=`/my-orders-details-rest/${result[id]._id}-${restId}`) Details
