extends base
block content
    link(rel='stylesheet', href='/css/temp2_style.css')
    section.food-area.menu--page
        .container
            .title
                h1#restName= data.name
                p famous for good food
                h2 our menu
            .foods
                each item in data.menu
                    each meal in item.meals
                        .single-food
                            .food-img
                                img#photo(src=`${meal.meal_photo}`, alt='' )
                                h4= `${item.menu_heading}`
                            ul.food-list
                                li#name= `${meal.meal_name}`
                                    span#price= `${meal.price}`

                                .wrapper
                                    span.minus -
                                    span.num#quantity 01
                                    span.plus +
                            .form__group
                                button.btn.btn--green#addCarty(data-food-id=`${meal._id},${item._id},${data._id},${user._id}`) Add to cart