extends base

mixin navItem(link,text,icon,active)
    li(class=`${active?'side-nav--active':''}`)
        a(href=link)
            svg
                use(xlink:href=`img/icons.svg#icon-${icon}`)
            | #{text}
block content
    link(rel='stylesheet', href='/css/stylish.css')
    //- link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/style1.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css')
    // jQuery library
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js')
    // Latest compiled JavaScript
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js')

    main.main
        .user-view
            nav.user-view__menu
                ul.side-nav
                    +navItem('/me-user','Settings','settings')
                    +navItem('/my-orders','My bookings','briefcase',true)
                    +navItem('#','Future','star')
                    +navItem('#','Future','credit-card')

            .user-view__content
                h2.heading-secondary.ma-bt-md Your order history
                .card-container
                    each rest in data
                        .card
                            .card__header
                                .card__picture
                                    .card__picture-overlay &nbsp;
                                    img.card__picture-img(src=`img/to-rest/${rest.photo}`, alt='Tour 1')
                                h3.heading-tertirary
                                    span= rest.name

                            .card__details
                                h4.card__sub-heading= `${rest.greeting}`
                                p.card__text= `${rest.message}`
                                .card__data
                                    svg.card__icon
                                        use(xlink:href='img/icons.svg#icon-map-pin')
                                    span= rest.city
                                .card__data
                                    svg.card__icon
                                        use(xlink:href='img/icons.svg#icon-calendar')
                                    span April 2021
                                .card__data
                                    svg.card__icon
                                        use(xlink:href='img/icons.svg#icon-flag')
                                    span= rest.title
                                .card__data
                                    svg.card__icon
                                        use(xlink:href='img/icons.svg#icon-user')
                                    p.card__ratings
                                        span.card__footer-value= `${rest.ratingsAverage}`
                                        span.card__footer-text rating (21)

                            .card__footer
                                a.btn.btn--green.btn--small(href='#') Contact Us
                                a.btn.btn--green.btn--small(href='#') Details