extends base

block content 

    main.main 
        .card-container
            each rest in data
                .card
                    .card__header
                        .card__picture
                            .card__picture-overlay &nbsp;
                            img.card__picture-img(src=`img/to-rest/${rest.photo}`, alt='Tour 1')
                        h3.heading-tertirary
                            span= rest.name

                    .card__details
                        h4.card__sub-heading= `${rest.greeting}`
                        p.card__text= `${rest.message}`
                        .card__data
                            svg.card__icon
                                use(xlink:href='img/icons.svg#icon-map-pin')
                            span= rest.city
                        .card__data
                            svg.card__icon
                                use(xlink:href='img/icons.svg#icon-calendar')
                            span April 2021
                        .card__data
                            svg.card__icon
                                use(xlink:href='img/icons.svg#icon-flag')
                            span= rest.title
                        .card__data
                            svg.card__icon
                                use(xlink:href='img/icons.svg#icon-user')
                            p.card__ratings
                                span.card__footer-value= `${rest.ratingsAverage}`
                                span.card__footer-text rating (21)

                    .card__footer
                        a.btn.btn--green.btn--small(href='#') Contact Us
                        a.btn.btn--green.btn--small(href='#') Details